# Using the Pandas Package for Data Analysis, pt.1

This notebook will walk us through a quick tutorial in using the pandas package for data anlysis with python.

### Overview of Tutorial

Over the next 2 class sessions, we will use this tutorial to cover the following processes:

*Day 1*
1. importing the pandas package 
2. creating a dataframe
3. exploring our dataframe's attributes

*Day 2*
4. using functions to filter our data
5. using functions to merge and join our data
6. creating a subset and exporting as a new .csv file

### Acknowledgements

This Pandas tutorial has been adapted from materials provided by the excellent staff at the Davis Library Research Hub.

For more detailed examples and exericses, see thier [Python: Intro to Data lessons](https://unc-libraries-data.github.io/Python/Intro/Introduction_CrashCourse.html)

### Importing Pandas

#### Packages
Packages provide additional tools and functions not present in base Python. Python includes a number of packages to start with, the Anaconda distribution which we've all downloaded for Unit 3 comes with the "Pandas" package already installed.

Once you've installed a package, you can load it into your current Python session with the import function. Otherwise these functions will not be available.


#### Pandas

Like spreadsheets in Microsoft Excel, Pandas allows us to store our data in tabular, multi-dimensional objects (dataframes) with familiar features like rows, columns, and headers. This is useful because it makes management, manipulation, and cleaning of large datasets much easier than would be the case using Python's built-in data structures such as lists. Pandas also provides a wide range of useful tools for working with data once it has been stored and structured.

Begin by importing the pandas package using the following command:

In [54]:
import pandas as pd
import numpy as np

Notice that we load pandas with the usual `import pandas` and an extra `as pd` statement. This allows us to call functions from `pandas` with `pd.<function>` instead of `pandas.<function>` for convenience. `as pd` is **not** necessary to load the package.

### Creating a DataFrame

#### Working Directories & Relative Paths

By now, you should have either downloaded the csv file "CountyHealthData_2014-2015.csv" from canvas, or saved your own data as a csv file. I've stored my copy in the same folder as this Jupyter Notebook. **NOTE:** make sure that your csv file is saved in the same working directory as your .ipynb notebook file that you will use. 

Remember that Jupyter Notebooks automatically set your working directory to the folder where the .ipynb is saved. You'll have to save the document at least once to set your directory, but once there you can use what's called relative file paths to access the files there.

If a file is located in your working directory, its relative path is just the name of the file!

#### Using the `pd.read_csv()` function

`pd.read_csv` reads the tabular data from a Comma Separated Values (csv) file into a dataframe object that we'll define as `df`.

To create our dataframe object we'll define our object `df` by executing the `pd.read_csv()`function on our data file by inserting the relative file path into the parathenses.

In [55]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

### Exploring Our Dataframes

#### Attributes

A good first step in exploring our dataframe is to examine some of its basic attributes. Attributes contain **values** that provide  helpful information about the dataframe, that guide our interaction with the dataframe. In pandas, we access attributes with the following syntax:

`<DataFrame name>.<attribute name>`

We can use the `.shape` attribute to determine how many rows and columns (in that order) are available. The `.size` attribute gives us the number of cells in the dataframe (rows * columns).

In [56]:
df.shape

(6109, 64)

In [57]:
df.size

390976

In [58]:
df.size == 6109 * 64

True

Other useful attributes include:

- `.columns` provides the column names for the Dataframe
- `.dtypes` provides the pandas datatype for each column

In [59]:
df.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

In [60]:
df.dtypes

State                                            object
Region                                           object
Division                                         object
County                                           object
FIPS                                              int64
GEOID                                             int64
SMS Region                                       object
Year                                             object
Premature death                                 float64
Poor or fair health                             float64
Poor physical health days                       float64
Poor mental health days                         float64
Low birthweight                                 float64
Adult smoking                                   float64
Adult obesity                                   float64
Food environment index                          float64
Physical inactivity                             float64
Access to exercise opportunities                float64
Excessive drinking                              float64
Alcohol-impaired driving deaths                 float64
Sexually transmitted infections                 float64
Teen births                                     float64
Uninsured                                       float64
Primary care physicians                         float64
Dentists                                        float64
Mental health providers                         float64
Preventable hospital stays                      float64
Diabetic screening                              float64
Mammography screening                           float64
High school graduation                          float64
                                                 ...
Children in single-parent households            float64
Social associations                             float64
Violent crime                                   float64
Injury deaths                                   float64
Air pollution - particulate matter              float64
Drinking water violations                       float64
Severe housing problems                         float64
Driving alone to work                           float64
Long commute - driving alone                    float64
2011 population estimate                          int64
Population that is not proficient in English    float64
Population living in a rural area               float64
Diabetes                                        float64
HIV prevalence rate                             float64
Premature age-adjusted mortality                float64
Infant mortality                                float64
Child mortality                                 float64
Food insecurity                                 float64
Limited access to healthy foods                 float64
Motor vehicle crash deaths                      float64
Drug poisoning deaths                           float64
Uninsured adults                                float64
Uninsured children                              float64
Health care costs                               float64
Could not see doctor due to cost                float64
Other primary care providers                    float64
Median household income                           int64
Children eligible for free lunch                float64
Homicide rate                                   float64
Inadequate social support                       float64
Length: 64, dtype: object

We'll also use attributes (`.loc` and `.iloc`) to interact with our dataframes on Friday.

#### Methods

Much of the functionality for working with dataframes comes in the form of methods. Methods are specialized functions that only work for a certain type of object, with the syntax:

`<object name>.<method>()`

We can look at the first 5 or last 5 rows in the dataset directly with the `.head()` and `.tail()` methods.

In [61]:
df.head()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477

In [62]:
df.tail()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

Sometimes, our top and bottom rows aren't very representative, and we'd prefer to look at a random sample of rows to get a better sense of the data. We can do this with `.sample()` **Note** that we can supply the parameter `n` to specify how many rows we want to sample.

In [63]:
df.sample(n=10)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3109,MS,South,East South Central,Scott County,28123,28123,Region 16,1/1/2014,12764.0,0.273,...,5.58,0.343,0.122,12320.0,0.246,60.0,32989,0.712,15.73,0.251
3317,NC,South,South Atlantic,Graham County,37075,37075,Region 15,1/1/2014,9226.0,0.240,...,21.56,0.276,0.094,9833.0,0.221,69.0,32883,0.464,NaN,NaN
1506,IL,Midwest,East North Central,Pike County,17149,17149,Region 6,1/1/2014,5403.0,0.067,...,NaN,0.186,0.040,9242.0,NaN,37.0,40087,0.369,NaN,0.108
1296,ID,West,Mountain,Butte County,16023,16023,Insuff Data,1/1/2014,NaN,0.205,...,NaN,0.203,0.110,11717.0,NaN,109.0,43611,0.293,NaN,0.165
2281,LA,South,West South Central,St. Landry Parish,22097,22097,Region 19,1/1/2014,12106.0,0.245,...,18.14,0.254,0.058,11362.0,0.185,53.0,34299,0.726,7.46,0.250
1402,IL,Midwest,East North Central,Edgar County,17045,17045,Insuff Data,1/1/2014,7751.0,0.156,...,NaN,0.152,0.034,10323.0,NaN,22.0,42645,0.369,NaN,NaN
3618,NE,Midwest,West North Central,Johnson County,31097,31097,Insuff Data,1/1/2014,6896.0,0.139,...,NaN,0.176,0.087,10327.0,0.086,97.0,42970,0.304,NaN,0.202
2497,MI,Midwest,East North Central,Kalamazoo County,26077,26077,Region 7,1/1/2014,6934.0,0.148,...,10.92,0.162,0.044,8450.0,0.112,100.0,45093,0.416,3.37,0.194
3615,NE,Midwest,West North Central,Howard County,31093,31093,Insuff Data,1/1/2015,6250.0,0.115,...,NaN,0.158,0.082,10375.0,0.074,63.0,49496,0.274,NaN,NaN
5217,TX,South,West South Central,Midland County,48329,48329,Region 10,1/1/2014,7115.0,0.149,...,9.07,0.278,0.151,9160.0,0.133,53.0,61268,0.432,2.55,0.170

#### Series

We can think of our dataframe as a collection rows and columns where each row represents an "observation"—sometimes referred to as a 'record'—and each column contains a specific type of information collected about each observation. 

In Pandas, our columns are stored as what's called 'Series' objects, and our dataframes can be thought of as named collections of series.

We can extract a single column in a couple of ways:

- bracket notation: `df["Region"]` This is the most robust way to refer to Series

- dot notation: `df.Region` This is simpler and easier to read but not always available


In some cases, dot notation does not work! The most common situations are:

- The column name has a space, or other irregularities 
- The column name is the same as an existing attribute or method (e.g., a column named "shape")

For example, in our Public Health dataFrame, `df.Uninsured adults` doesn't work, because "Uninsured adults" is not understood as a single value, so instead we'd use `df["Uninsured adults"]`

Series have their own set of attributes and methods just like dataframes. Some attributes like `.dtypes` and `.shape` are available for both.

In [70]:
print(df.Region.dtypes)

object

In [71]:
df["Region"]

0       West
1       West
2       West
3       West
4       West
5       West
6       West
7       West
8       West
9       West
10      West
11      West
12      West
13      West
14      West
15      West
16      West
17      West
18      West
19      West
20      West
21      West
22      West
23      West
24      West
25      West
26      West
27      West
28      West
29      West
        ...
6079    West
6080    West
6081    West
6082    West
6083    West
6084    West
6085    West
6086    West
6087    West
6088    West
6089    West
6090    West
6091    West
6092    West
6093    West
6094    West
6095    West
6096    West
6097    West
6098    West
6099    West
6100    West
6101    West
6102    West
6103    West
6104    West
6105    West
6106    West
6107    West
6108    West
Name: Region, Length: 6109, dtype: object

In [72]:
df.Region

0       West
1       West
2       West
3       West
4       West
5       West
6       West
7       West
8       West
9       West
10      West
11      West
12      West
13      West
14      West
15      West
16      West
17      West
18      West
19      West
20      West
21      West
22      West
23      West
24      West
25      West
26      West
27      West
28      West
29      West
        ...
6079    West
6080    West
6081    West
6082    West
6083    West
6084    West
6085    West
6086    West
6087    West
6088    West
6089    West
6090    West
6091    West
6092    West
6093    West
6094    West
6095    West
6096    West
6097    West
6098    West
6099    West
6100    West
6101    West
6102    West
6103    West
6104    West
6105    West
6106    West
6107    West
6108    West
Name: Region, Length: 6109, dtype: object

One of the most useful methods for categorical variables is `.value_counts()` which provides a frequency table.

In [73]:
df.Region.value_counts()

South        2803
Midwest      2038
West          834
Northeast     434
Name: Region, dtype: int64

This can also be used on top of other attributes or methods that return series. For example, the code below shows how frequently each data type appears in our dataframe.

In [74]:
df.dtypes.value_counts()

float64    54
object      6
int64       4
dtype: int64

So for example, we might call up a value count of the series "State" to get a more granular sense of our dataframe's geographical dispersal.

In [75]:
df.State.value_counts()

TX    469
GA    318
VA    266
KY    240
MO    229
IL    204
NC    200
KS    199
IA    198
TN    190
IN    184
OH    176
MN    174
MI    164
MS    163
NE    157
OK    154
AR    150
WI    144
FL    134
PA    134
AL    134
LA    128
NY    124
CO    119
SD    117
CA    114
WV    110
ND     92
SC     92
MT     92
ID     84
WA     78
OR     67
NM     64
UT     54
MD     48
WY     46
AK     46
NJ     42
ME     32
NV     32
AZ     30
MA     28
VT     28
NH     20
CT     16
RI     10
HI      8
DE      6
DC      1
Name: State, dtype: int64

#### Now open the `.ipyn` files you created last time: 
1. import pandas
2. create a dataframe 
3. start exploring your own data!

# Feeder 3.1 *example*

### Step 1: Calling a "Series"

First, we will use bracket notation to call the information contained in 1 series of our dataframe.

We want to know about the information contained in "Excessive drinking"

We will use the following code: `df["Excessive drinking"]`

In [28]:
df["Excessive drinking"]

0       0.266
1       0.266
2       0.185
3       0.185
4       0.171
5       0.171
6       0.143
7       0.143
8       0.200
9       0.200
10      0.160
11      0.160
12      0.209
13      0.209
14      0.185
15      0.185
16      0.212
17      0.212
18      0.267
19      0.267
20      0.194
21      0.194
22      0.183
23      0.183
24      0.190
25      0.190
26      0.147
27      0.147
28      0.212
29      0.212
        ...
6079    0.163
6080    0.163
6081    0.198
6082    0.198
6083    0.152
6084    0.152
6085    0.141
6086    0.141
6087    0.176
6088    0.176
6089    0.145
6090    0.145
6091    0.154
6092    0.154
6093    0.167
6094    0.167
6095    0.177
6096    0.177
6097    0.231
6098    0.231
6099    0.213
6100    0.213
6101    0.211
6102    0.211
6103    0.137
6104    0.137
6105    0.099
6106    0.099
6107    0.170
6108    0.170
Name: Excessive drinking, Length: 6109, dtype: float64